{% extends 'main/shablon.html' %}

{% block title %} Главная страница {% endblock %}

{% if 1 == 1 %}
    {% block log %}
        <span class = "log"> Webshop </span><br><br>
        <a href="{% url 'registration' %}"> Регистрация </a><br>
        <a href="{% url 'sign_in' %}"> Войти </a>
    {% endblock %}
{% endif %}

{% block content %}
    <div class = "first">
        <h1>{{ title }}</h1>
        <a href="http://google.com"><button class="btn btn-warning"> Google </button></a>
    </div>

    <p class = "first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, rem?</p>
{% endblock %}